@purp: purple;

.app-component{
    .header{
        height: 40px;
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
    }
    .navigation{
        display: flex;
        height: 30px;
        flex-direction: row;
    }
}
